* {
	box-sizing: border-box;
	user-select: none;
}

body {
	margin-top: 0;
	font-size: 14px;
}

#optionsGrid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: row dense;
	grid-gap: 10px;
}

label {
	display: block;
}

input[type="checkbox"] {
	position: relative;
	margin: 0 4px 2px 0;
}

input[type="range"] {
	display: block;
	width: 100%;
}

#buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row dense;
	grid-gap: 10px;
}

.indent {
	margin-left: 20px;
}

div *:not(label) {
	margin: 4px 0 0 0;
}

textarea {
	width: 100%;
	resize: vertical;
}
