:root {
	--text-color: rgb(235, 235, 245);
	--textbox-placeholder-text-color: rgb(159, 165, 160);
	--textbox-selection-text-color: var(--textbox-placeholder-text-color);
	--textbox-selection-background-color: gray;
	--link-text-color: var(--selected-official-server-text-color);
	--button-disabled-text-color: rgb(129, 130, 129);
	--server-text-color: rgb(254, 255, 254);
	--modded-server-text-color: rgb(175, 251, 254);
	--official-server-text-color: rgb(254, 238, 115);
	--selected-server-text-color: rgb(254, 254, 254);
	--selected-modded-server-text-color: rgb(210, 230, 254);
	--selected-official-server-text-color: rgb(254, 254, 210);
	--friend-text-color: var(--selected-official-server-text-color);

	--background-color: rgb(126, 140, 121);
	--button-background-color: rgb(100, 113, 96);
	--indented-background-color: rgb(96, 106, 98);
	--minimap-background-color: rgb(237, 204, 166);
	--modded-server-background-color: rgb(104, 126, 121);
	--official-server-background-color: rgb(126, 140, 100);

	--outer-border-color: rgb(66, 72, 75);
	--inner-border-color: rgb(151, 167, 146);
	--button-outer-border-color: rgb(19, 13, 29);
	--minimap-middle-border-color: rgb(159, 97, 37);
	--box-shadow: inset 0 0 0 2px var(--outer-border-color), inset 0 0 0 4px var(--inner-border-color);
	--indented-box-shadow: var(--box-shadow), inset 0 0 0 6px var(--outer-border-color);
	--button-box-shadow: inset 0 0 0 2px var(--button-outer-border-color), inset 0 0 0 4px var(--background-color);
	--modded-server-box-shadow: inset 0 0 0 2px rgb(54, 65, 75), inset 0 0 0 4px rgb(124, 151, 146);
	--official-server-box-shadow: inset 0 0 0 2px rgb(66, 72, 62), inset 0 0 0 4px rgb(151, 167, 120);
	--minimap-box-shadow: 0 0 0 2px var(--button-outer-border-color), 0 0 0 4px var(--minimap-middle-border-color), 0 0 0 6px var(--button-outer-border-color);

	--filter-grid-height: 100px;
}

* {
	font-family: "Arial", Sans-serif;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.5px;
	box-sizing: border-box;
	user-select: none;
}

body {
	margin: 0;
	width: 800px;
	color: var(--text-color);
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 332px 3em var(--filter-grid-height);
	grid-template-areas:
		"servers info"
		"search info"
		"filters play";
	grid-gap: 8px;
	padding: 12px;
}

/* STYLES */

.container {
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
}

.indented {
	background-color: var(--indented-background-color);
	box-shadow: var(--indented-box-shadow);
	color: var(--text-color);
	border: none;
	outline: none;
}

.button {
	background-color: var(--button-background-color);
	box-shadow: var(--button-box-shadow);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	cursor: pointer;
}

.button.disabled {
	cursor: auto;
	color: var(--button-disabled-text-color);
}

select {
	-webkit-appearance: none;
	appearance: none;
	background-image: url(../images/arrow_down.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 16px);
	padding: 0px 26px 0px 8px;
	text-align-last: center;
	cursor: pointer;
	width: 100%;
}

input[type="text"],
input[type="password"] {
	padding: 0 12px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: var(--textbox-placeholder-text-color);
}

input[type="text"]::selection,
input[type="password"]::selection {
	background-color: var(--textbox-selection-background-color);
	color: var(--textbox-selection-text-color);
}

a {
	text-decoration: none;
	font-size: inherit;
	font-weight: inherit;
	color: var(--link-text-color);
	pointer-events: all;
}

a:hover {
	text-decoration: underline;
}

/* SERVER LIST */

#server-list {
	grid-area: servers;
	box-shadow: 0 0 0 2px var(--inner-border-color), 0 0 0 4px var(--outer-border-color);
	margin: 4px;
	overflow-y: scroll;
	padding: 2px;
}

#server-grid {
	display: grid;
	grid-gap: 2px;
}

#server-list::-webkit-scrollbar {
	width: 30px;
}

#server-list::-webkit-scrollbar-track {
	background-color: var(--background-color);
	border: solid var(--button-outer-border-color);
	border-width: 0 2px;
	box-shadow: inset 0 0 0 2px var(--inner-border-color);
}

#server-list::-webkit-scrollbar-thumb {
	background-color: var(--button-background-color);
	box-shadow: var(--button-box-shadow);
}

#server-list::-webkit-scrollbar-button:single-button {
	height: 30px;
	background-color: var(--button-background-color);
	box-shadow: var(--button-box-shadow);
	background-repeat: no-repeat;
	background-position: center;
}

#server-list::-webkit-scrollbar-button:single-button:increment {
	background-image: url(../images/arrow_down.png);
}

#server-list::-webkit-scrollbar-button:single-button:decrement {
	background-image: url(../images/arrow_up.png);
}

.server {
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-areas: "favorite flag name verified players gamemode password";
	padding: 14px;
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	color: var(--server-text-color);
}

.server .name {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.server.modded {
	background-color: var(--modded-server-background-color);
	box-shadow: var(--modded-server-box-shadow);
	color: var(--modded-server-text-color);
}

.server.official {
	background-color: var(--official-server-background-color);
	box-shadow: var(--official-server-box-shadow);
	color: var(--official-server-text-color);
}

.server.selected {
	background-color: var(--indented-background-color);
	box-shadow: var(--indented-box-shadow);
	color: var(--selected-server-text-color);
}

.server.selected.modded {
	color: var(--selected-modded-server-text-color);
}

.server.selected.official {
	color: var(--selected-official-server-text-color);
}

.server.outdated span {
	text-decoration: line-through;
}

.server div {
	width: 16px;
	height: 16px;
}

.favorite-icon {
	background-image: url(../images/server_not_favorite.png);
	cursor: pointer;
	align-self: center;
}

.favorite .favorite-icon {
	background-image: url(../images/server_favorite.png);
}

.server .favorite-icon {
	grid-area: favorite;
}

.server .flag {
	grid-area: flag;
	margin: auto 0 auto 10px;
	cursor: pointer;
}

.server .name {
	grid-area: name;
	padding: 0px 10px;
}

.server .verified-icon {
	grid-area: verified;
}

.server.verified .verified-icon {
	background-image: url(../images/server_verified.png);
}

.server .players-icon {
	grid-area: players;
}

.server:not(.empty) .players-icon {
	cursor: pointer;
}

.server .gamemode-icon {
	grid-area: gamemode;
	cursor: pointer;
}

.server .password-icon {
	grid-area: password;
}

.server.locked .password-icon {
	cursor: pointer;
}

/* SERVER INFO GRID */

#server-info-grid {
	grid-area: info;
	display: grid;
	grid-template-rows: 34px 100px 1fr;
	grid-template-areas:
		"gamemode"
		"minimap"
		"info";
	padding: 4px 12px;
}

#gamemode {
	grid-area: gamemode;
	margin: auto 0;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#minimap {
	grid-area: minimap;
	overflow: hidden;
	margin: 6px;
	box-shadow: var(--minimap-box-shadow);
	cursor: -webkit-grab;
	cursor: grab;
}

#minimap:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

#minimap img {
	position: relative;
	background-color: var(--minimap-background-color);
}

#info {
	grid-area: info;
	padding: 8px 0;
	overflow-y: scroll;
}

#info::-webkit-scrollbar {
	width: 0px;
}

#info * {
	margin-bottom: 0;
	white-space: pre-line;
}

#info *:first-child,
#info *:empty {
	margin-top: 0;
}

#description,
#players,
.player {
	font-size: 11px;
	font-weight: normal;
}

.player {
	cursor: pointer;
}

.friend {
	color: var(--friend-text-color);
}

/* EXTENSION INFO GRID */

#extension-info-grid {
	grid-area: info;
	display: grid;
	grid-template-rows: 1em 1em 1fr 1em;
	grid-template-areas:
		"name"
		"count"
		"body"
		"footer";
	padding: 12px;
}

#extension-info-grid * {
	font-size: 11.8px;
	text-align: center;
}

#extension-name {
	grid-area: name;
}

#count {
	grid-area: count;
}

#content {
	grid-area: body;
	text-align: left;
	margin: auto;
}

#extension-info-grid header {
	position: relative;
}

#extension-info-grid footer {
	grid-area: footer;
}

#options {
	position: absolute;
	top: -2px;
	right: 2px;
	cursor: pointer;
	transform: scale(0.5);
	transform-origin: top right;
	transition: transform 0.2s;
}

#options:hover {
	transform: initial;
}

/* SEARCH GRID */

#search-grid {
	grid-area: search;
	display: grid;
	grid-template-columns: 7fr 4fr;
	grid-template-areas: "search sort";
	grid-column-gap: 8px;
}

#search {
	grid-area: search;
}

#sort {
	grid-area: sort;
}

/* FILTERS GRID */

#filter-grid {
	grid-area: filters;
	display: grid;
	grid-template-columns: 4fr 3fr 3fr calc(var(--filter-grid-height) - 12px);
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"players modded officials reload"
		"gamemodes password favorites reload";
	grid-gap: 8px;
	padding: 12px;
}

#players-grid {
	display: grid;
	grid-template-columns: 40px 1fr 40px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"min text max"
		"slider slider slider";
	position: relative;
	height: calc(100% + 6px);
	bottom: 6px;
}

#min-players {
	grid-area: min;
}

#max-players {
	grid-area: max;
	text-align: right;
}

#players-text {
	grid-area: text;
	text-align: center;
}

#slider {
	position: absolute;
	bottom: 3px;
	width: calc(100% - 12px);
	height: 10px;
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	border: none;
	outline: none;
	border-radius: 0;
	margin: 3px 6px;
}

#slider .ui-slider-handle {
	width: 12px;
	height: 22px;
	background-color: var(--button-background-color);
	box-shadow: var(--button-box-shadow);
	border: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	margin-left: -6px;
	margin-top: -2px;
}

#slider .ui-slider-range {
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	height: 16px;
	margin-top: -3px;
}

.toggle {
	background-image: url(../images/button_unchecked.png);
	background-repeat: no-repeat;
	background-position: calc(50% + 38px);
	padding-right: 20px;
}

.toggle[data-value="1"] {
	background-image: url(../images/button_cross.png);
}

.toggle[data-value="2"] {
	background-image: url(../images/button_tick.png);
}

#reload {
	grid-area: reload;
	background-image: url(../images/reload.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	bottom: 12px;
	width: calc(100% + 12px);
	height: calc(100% + 24px);
}

#reload:active {
	background-position: 50% calc(50% + 2px);
}
